@font-face {
  font-family: 'Radis Sans';
  src: url('./assets/font/radis-sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Radis Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ECF0F1 !important;
}

.margin-not-logged {
  margin-top: 4rem !important;
}

.margin-logged {
  margin-top: 4rem !important;
}

@media (max-width: 961px) {
  .margin-not-logged {
    margin-top: 11rem !important;
  }

  .margin-logged {
    margin-top: 5rem !important;
  }
}