@font-face {
  font-family: 'Radis Sans';
  src: url('./assets/font/radis-sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Radis Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  background-color: #3498DB !important;
  color: #fff;
}

.btn-primary:hover {
  background-color: #2980B9 !important;
}

.btn-secondary {
  background-color: #2C3E50 !important;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #1F2C39 !important;
}