.header {
  width: 100%;
  background-color: #ECF0F1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-img {
  height: 40px;
}

.header-buttons .btn {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.create-account {
  background-color: #2ECC71;
  color: #fff;
}

.logo span {
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .header-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-buttons {
    margin-top: 10px;
    display: inline-block;
    flex-direction: column;
    width: 100%;
  }

  .header-buttons .btn {
    margin: 5px 0;
    width: 100%;
  }
}

.user-initial-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #E67E22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.user-initial-circle:hover {
  background-color: #D35400;
}